
@model FindLoveNowMaybe.Controllers.SearchModel
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-3" id="registreraID">
            @Html.LabelFor(x => x.SearchText, new { @style = "font-family:'Open sans'" })
            @Html.TextBoxFor(x => x.SearchText, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.SearchText)
        </div>
    </div>
    <div class="col-md-3">
        <br />

        <input class="btn btn-info" type="submit" value="Search" />
    </div>
}

<br />
<br />
<br />

@if (Model.FoundUsers != null)
{
    <h3>@Model.FoundUsers.Count users found: </h3>
    <br />
    foreach (var foundUser in Model.FoundUsers)
    {
        <div>
            <img src="~/Content/Images/@foundUser.Picture" class="img-circle" width="90" height="90" alt="hej">
            <h5>@foundUser.FirstName @foundUser.LastName</h5>
            <h5>Username: @foundUser.UserName</h5>
            <h5>Age: @foundUser.Age</h5>
            @Html.ActionLink("See profile", "VisitUser", "User", new { visitUser = foundUser.UserName }, new { @class = "btn btn-info" })
        </div>
        <br />
    }
}

