@model FindLoveNowMaybe.Models.HomeModel

@{
    ViewBag.Title = "Index";
}


<!--Under Navbar-->

<div class="container">
    <div class="jumbotron text-center">
        <h1>Find Love Now Maybe</h1>
        <p>At our site for only $50/month you will find your next love, maybe.</p>
        @Html.ActionLink("Login", "Index", "Account", null, new { @class = "btn btn-primary" })
        @Html.ActionLink("Register", "Register", "Account", null, new { @class = "btn btn-success" })
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <h3>Members already looking for lovers</h3>
    </div>
</div>
<!--Några profiler-->
<div class="row">
    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <a href="#">
                <img src="~/Content/Images/@Model.RandomUsers[0].Picture" class="img-rounded" alt="hej">

            </a>
            <div class="caption">
                <h3>@Model.RandomUsers[0].UserName </h3>
                @Html.ActionLink("See profile", "Register", "Account", null, new { @class = "btn btn-info" })
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <a href="#">
                <img src="~/Content/Images/@Model.RandomUsers[1].Picture" class="img-rounded" alt="hej" width="190" height="190">

            </a>
            <div class="caption">
                <h3>@Model.RandomUsers[1].UserName</h3>
                @Html.ActionLink("See profile", "Register", "Account", null, new { @class = "btn btn-info" })
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <a href="#">
                <img src="~/Content/Images/@Model.RandomUsers[2].Picture" class="img-rounded" alt="hej">

            </a>
            <div class="caption">
                <h3>@Model.RandomUsers[2].UserName</h3>
                @Html.ActionLink("See profile", "Register", "Account", null, new { @class = "btn btn-info" })
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <a href="#">
                <img src="~/Content/Images/@Model.RandomUsers[3].Picture" class="img-rounded" alt="hej">

            </a>
            <div class="caption">
                <h3>@Model.RandomUsers[3].UserName</h3>
                @Html.ActionLink("See profile", "Register", "Account", null, new { @class = "btn btn-info" })
            </div>
        </div>
    </div>
</div>
