@model FindLoveNowMaybe.Models.FriendsModel
@{
    ViewBag.Title = "Friends";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Friend list</h2>
<br />
<div class="container">
    @foreach (var friend in Model.Friends)
    {

        <ul>
            <li id="FriendsDiv">
                <img src="~/Content/Images/@friend.Picture" class="img-circle" width="90" height="90" alt="hej">
                <label class="name">
                    @Html.ActionLink(@friend.UserName, "VisitUser", "User", new { visitUser = friend.UserName }, new { @class = "form-control", @style = "font-family: 'Oswald'" })
                </label>
                <span>
                    <br />
                    <br />

                    @using (Html.BeginForm("AddFriendToCategory", "User"))
                    {
                        @Html.Hidden("friendUserName", friend.UserName)
                        @Html.TextBox("categoryName", null, new { @class = "form-control", @placeholder = "Category name" })
                        <br />
                            <input class="btn btn-info" type="submit" name="categoryName" value="Add To Category" />
                    }
                </span>
            </li>
        </ul>
            <br />
            <br />
    }
</div>


<h2>In categories</h2>
<br />
<div class="container">
    @if (Model.FriendsInCategoryModels != null && Model.FriendsInCategoryModels.Count > 0)
    {
        foreach (var friendsInCategoryModel in Model.FriendsInCategoryModels)
        {
            {
                <h3>@friendsInCategoryModel.Name</h3>
                foreach (var user in friendsInCategoryModel.Users)
                {
                    <img src="~/Content/Images/@user.Picture" class="img-circle" width="90" height="90" alt="hej">
                    <label class="name">
                        @Html.ActionLink(user.UserName, "VisitUser", "User", new { visitUser = user.UserName }, new { @class = "form-control", @style = "font-family: 'Oswald'" })
                    </label>
                }
                <br />
            }
        }
    }
</div>
<br />
<br />
<br />
<br />