@model FindLoveNowMaybe.Models.HomeModel
@{
    ViewBag.Title = "IndexUser";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="container">
    <div class="jumbotron text-center">
        <h1>Find Love Now Maybe</h1>
        <p>Welcome lover</p>
        @Html.ActionLink("Go to profile", "Profile", "User", new { username = User.Identity.Name }, new { @class = "btn btn-primary" })

    </div>
</div>
<!--Några profiler-->
<div class="row">
    @foreach (var user in Model.RandomUsers)
    {
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">

                <a href="@Url.Action("VisitUser", "User", new {visitUser = user.UserName})">
                    <img src="~/Content/Images/@user.Picture" max-height="190" class="img-rounded" alt="hej">
                </a>
                <div class="caption">
                    <h3>@user.FirstName @user.LastName </h3>
                    @Html.ActionLink("See profile", "VisitUser", "User", new { visitUser = user.UserName }, new { @class = "btn btn-info" })
                </div>
            </div>
        </div>
    }
</div>

