
@model FindLoveNowMaybe.Models.UserModel
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<h1>@Model.FirstName @Model.LastName</h1>

<br />

<div class="row">
    <div class="col-md-4 col-sm-6 hero-feature">
        <div class="thumbnail">

            <img src="~/Content/Images/@Model.Picture" class="img-rounded" alt="hej">
            <br />

            @using (Html.BeginForm("UserPicture", "Picture", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <label class="btn btn-info">
                    <input name="file" type="file" style="display: none" />
                    Choose file
                </label>
                <br />
                <br />


                <label class="btn btn-info">

                    <input type="submit" value="Change Profile" style="display: none" />
                    Upload picture
                </label>
            }
        </div>

        <div class="well">
            <h3> Information about : @Model.FirstName  </h3>
            <h4>Username: @Model.UserName</h4>
            <h4>Age: @Model.Age</h4>
            @if (Model.Sex)
            { <h4>Sex: Man</h4>}
            else {<h4>Sex: Woman</h4>}

            @if (Model.InterestedMen)
            { <h4>Interested in men: Yes</h4>}
            else {<h4>Interested in men: No</h4>}

            @if (Model.InterestedWomen)
            { <h4>Interested in women: Yes</h4>}
            else {<h4>Interested in women: No</h4>}

            <h4>Description: @Model.Description</h4>


        </div>

    </div>

    <div class="col-md-6 col-centered" id="minEgnaDiv">
        <div class="well">
            <h3>My wall!</h3>
            <br />
            <br />
            <br />

            <div class="well" id="messages">

            </div>

        </div>
    </div>

    <div class="col-md-2">
        <div class="well">
            <h5>Last 5 visited users: </h5>
            <div id="visitors"></div>
        </div>

        @if (@ViewBag.Serialized == null)
            {
            @Html.ActionLink("Serialize your shit!", "SerializeUser", "User", null, new { @class = "btn btn-info" })
        }
        else
        {
            <p>@ViewBag.Serialized </p>
        }

    </div>



    <script type="text/javascript">
        $(function () {
            //När sidan laddas hämtas alla meddelanden från resp. användare. För varje meddelande skapas en ta bort knapp
            //och en dialog-ruta på den.
            $.get('../APIController/Message/GetMessages?ActiveUser=' + '@Model.UserName', function (data) {
                console.log(data);
                $.each(data.Message, function () {
                    $('#messages').prepend('<h5>Message: ' + this.Message + '</h5> <br/>');
                    $('#messages').prepend('<div class = "well"> ' +
                        '<label class = "pull-right"> ' +
                        '<a class="btn btn-danger  btn-xs glyphicon glyphicon-trash" href="#" title="Delete"' +
                        'id="' + this.MessageId + '"></a> ' +
                        '</label>' +
                        '<h4>From: ' + this.SenderFullName +
                        '</h4>');
                    $('#messages').append('<br/>');
                    $('#messages').append('<span id="dialog"></span>');
                    $('#messages').append('</div>');
                    var messageId = this.MessageId;
                    $('#' + this.MessageId).click(function () {
                        $('#dialog').dialog({ //Skapar dialogruta
                            resizable: false,
                            height: 140,
                            modal: true,
                            buttons: {
                                "Yes": function () {
                                    $.post('../APIController/Message/RemoveMessage?messageId=' + messageId, function () {
                                        alert("Message deleted!");
                                        location.reload();
                                    });
                                },
                                "No": function () {
                                    $(this).dialog("close");
                                }
                            }
                        });
                    });
                });

                $.get('../APIController/Visit/LastVisitedUsers?userName=' + '@User.Identity.Name', function (data) {
                    $.each(data.Visitors, function () {
                        $('#visitors').prepend('<h6>' + this.UserName + '<h6/>');
                    });
                    console.log(data);
                });

            });
        });

    </script>


</div>
