@model FindLoveNowMaybe.Models.UserModel
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<h1>@Model.FirstName @Model.LastName</h1>
<p>Username: @Model.UserName</p>
<p>Description: @Model.Description</p>
<p>Age: @Model.Age</p>
<img class="img-rounded" src="~/Content/Images/@Model.Picture" alt="@Model.UserName's picture"/>
<p>Age: @Model.Age</p>
<p>Interested in men: @Model.InterestedMen</p>
<p>Interested in women: @Model.InterestedWomen</p>
