@model FindLoveNowMaybe.Models.UserModel
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<h1>@Model.FirstName @Model.LastName</h1>
<br />

<div class="row">

  
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">

                <img src="~/Content/Images/@Model.Picture" class="img-rounded" alt="hej">
                <br />
                <p>Description: @Model.Description</p>

                <a href="/home/register" class="btn btn-info">Change picture</a>
            </div>
            <br />


        </div>
        <div class="col-md-3">
            <p>Username: @Model.UserName</p>

            <p>Age: @Model.Age</p>
            <p>Picture: @Model.Picture</p>
            <p>Sex: @Model.Sex</p>
            <p>Age: @Model.Age</p>
            <p>Interested in men: @Model.InterestedMen</p>
            <p>Interested in women: @Model.InterestedWomen</p>
            <br />
        </div>

        
        </div>
  

