@model FindLoveNowMaybe.Models.VisitModel
@{
    ViewBag.Title = "VisitUser";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h1>Visiting: @Model.FirstName @Model.LastName</h1>
@if (!Model.IsFriends)
{
    @Html.ActionLink("Add friend", "SendFriendRequest", "User", new { senderUserName = User.Identity.Name, receiverUserName = Model.UserName }, new { @class = "btn btn-info" })
}
<br />
<br />
<br />

<div class="row">
    <div class="col-md-4 col-sm-6 hero-feature">
        <div class="thumbnail">

            <img src="~/Content/Images/@Model.Picture" class="img-rounded" alt="hej">


        </div>

        <div class="well">
            <h3> Information about : @Model.FirstName  </h3>
            <h4>Username: @Model.UserName</h4>
            <h4>Age: @Model.Age</h4>
            <h4>Sex: @Model.Sex</h4>
            <h4>Interested in men: @Model.InterestedMen</h4>
            <h4>Interested in women: @Model.InterestedWomen</h4>
            <h4>Description: @Model.Description</h4>
        </div>

    </div>

    <div class="col-md-8 col-centered" id="minEgnaDiv">
        <div class="well">
            <h3>Write on my wall! </h3>
            <br />

            <div class="input-group" id="textAreaMiddle">
                <textarea class="form-control input-sm chat-input" id="textAreaId" rows="8" cols="200" placeholder="Write your message here..."></textarea>

                <span>
                    <button class="btn btn-info" id="buttonAddPost">Add post</button>
                </span>
            </div>
            <hr data-brackets-id="12673">

            <div class="well" id="messages">

            </div>

        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            $.get('../APIController/Message/GetMessages?ActiveUser=' + '@Model.UserName', function (data) {
                console.log(data);
                $.each(data.Message, function () {
                    $('#messages').prepend('<p>Message:' + this.Message + '</p>');
                    $('#messages').prepend('<div class = "well"> <p>From: ' + this.SenderFullName + '</p>');
                    $('#messages').append('<br/>');
                    $('#messages').append('</div>');

                });
            });


            $('#buttonAddPost').click(function () {
                var messageText = $('#textAreaId').val();
                var userName = '@Model.UserName';
                console.log(messageText);
                console.log(userName);
                $.post("../APIController/Message/PostMessage?RecieverUsername=" + userName + "&Message=" + messageText,
                    function () {
                        alert("Message sent!");
                    });
            });

        });
    </script>


</div>