@model FindLoveNowMaybe.Models.VisitModel
@{
    ViewBag.Title = "VisitUser";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h1>Visiting: @Model.FirstName @Model.LastName</h1>
<br />

<div class="row">


    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">

            <img src="~/Content/Images/@Model.Picture" class="img-rounded" alt="hej">
            <br />
        </div>
        <br />


    </div>
    <div class="col-md-3">
        <p>Username: @Model.UserName</p>

        <p>Age: @Model.Age</p>
        <p>Picture: @Model.Picture</p>
        <p>Sex: @Model.Sex</p>
        <p>Age: @Model.Age</p>
        <p>Interested in men: @Model.InterestedMen</p>
        <p>Interested in women: @Model.InterestedWomen</p>
        <p>Description: @Model.Description</p>
        <br />
    </div>


</div>

<div class="col-md-6 col-centered" id="minEgnaDiv">
    <div class="well">
        <h4>Write on my wall!</h4>
        <br />

        <div class="input-group" id="textAreaMiddle">
            <textarea class="form-control input-sm chat-input" id="textAreaId" rows="8" cols="20" placeholder="Write your message here..."></textarea>

            <span>
                <button class="btn btn-info" id="buttonAddPost">Add post</button>
            </span>
        </div>
        <hr data-brackets-id="12673">
        <div id="messages">
            @*<ul data-brackets-id="12674" id="sortable" class="list-unstyled ui-sortable">

                    <li> Användarnamn : </li>
                    <p>meddelande : </p>

                </ul>*@

        </div>

    </div>
</div>

<script type="text/javascript">
    $(function () {
        $.get('../APIController/Message/GetMessages?ActiveUser=' + '@Model.UserName', function (data) {
            console.log(data);
            $.each(data.Message, function () {
                $('#messages').prepend('<p>Message: ' + this.Message + '</p>');
                $('#messages').prepend('<p>From: ' + this.SenderFullName + '</p>');
                $('#messages').prepend('<br/>');

            });
        });

        $('#buttonAddPost').click(function () {
            var messageText = $('#textAreaId').val();
            var userName = '@Model.UserName';
            console.log(messageText);
            console.log(userName);
            $.post("../APIController/Message/PostMessage?RecieverUsername=" + userName + "&Message=" + messageText,
                function () {
                    alert("Meddelandet har lagts till!");
                });
        });

    });
</script>